:root{
    --color-body:##31363F;
    --color-btn-lgn:#393E46;
    --color-link:#eeeeee;
}

.navbar{
    background-color: var(--color-body);
    font-family: "Monstserrat", sans-serif;
}

html{
    overflow-x: hidden;
}

.smaller-logo{
    width: 180px;
}

.full-height{
    height: 100vh;
}

.lgn_btn{
    text-decoration: none;
    margin-right: 60px;
    color: #EEEEEE;
    background: #393E46;
    padding: 10px 25px;
    height: 50px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #EEEEEE;
    border-radius: 7px;
    transition: all 0.5s;
}

.lgn_btn:hover{
    color: #393E46;
    background: #EEEEEE;
    border: 1px solid #393E46;
}

.login:hover{
    border: 1px solid #393E46;
    background: #EEEEEE;
    color: var(--color-btn-lgn);
}

.nav-item{
    font-size: 20px;
    height: 40px;
    width: 100px;
}

.map-side{
    height: 100vh;
}

.contact-side{
    height: 100vh;
}

iframe{
    border-radius: 6px;
}

.link{
    text-decoration: none;
    margin-bottom: 20px;
}

.whatsapp{
    width: 250px;
    height: 60px;
    padding: 10px 25px;
    border: 1px solid 	#25d366;
    border-radius: 8px;
    background: #dcf8c6;
    color: 	#25d366;
    transition: all 0.5s;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp:hover{
    border-color: #dcf8c6;
    background: #25d366;
    color: #dcf8c6;
}

.fa-2x{
    margin-left: 20px;
}

.phone{
    width: 250px;
    height: 60px;
    padding: 10px 25px;
    border: 1px solid 	#5AB2FF;
    border-radius: 8px;
    background: #EEF7FF;
    color: 	#5AB2FF;
    transition: all 0.5s;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone:hover{
    border-color: #EEF7FF;
    background: #5AB2FF;
    color: #EEF7FF;
}

.email{
    width: 250px;
    height: 60px;
    padding: 10px 25px;
    border: 1px solid 	#ff5d5d;
    border-radius: 8px;
    background: #ece9e9;
    color: 	#ff5d5d;
    transition: all 0.5s;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email:hover{
    border-color: #ece9e9;
    background: #ff5d5d;
    color: #ece9e9;
}

.menjauh-sikit{
    margin-left: 50px;
}

.row{
    --bs-gutter-x: 0;
}

.footer-height{
    height: 30vh;
}

.embedmap{
    width: 600px;
    margin-top: 30px;
}

.mapping{
    height: 500px;
    width: 700px;
}

.footer_header{
    font-size: 20px;
    margin-top: 30px;
}

.custom_width{
    width: 76%;
}
    
.flexie{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flexie1{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.flexie2{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.embedmap{
    
    width: 400px;
}

.putih{
    color: var(--color-link);
    font-family: "Monstserrat", sans-serif;
}

@media only screen and (max-width:767px) {

    .title{
        margin-top: 20px;
    }

    .menjauh-sikit{
        margin-left: 63px;
        margin-top: 12px;
        margin-bottom: 10px;
    }
    .row{
        --bs-gutter-x: 0;
    }
    .flexie1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .embedmap{
        width: 300px;
        height: 200px;
    }

    .flexie2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .flexie{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .embedmap{
        margin-top: 10px;
        width: 300px;
    }

    .footer-height{
        height: 55vh;
    }

    .content{
        display: flex;
        flex-direction: column;
    }

    .contact-side h1{
        margin-top: 150px;
    }

    .mapping{
        height: 250px;
        width: 250px;
    }
}

@media only screen and (min-width:767px) and (max-width:1180px) {
    .flexie1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .flexie2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .flexie{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .embedmap{
        margin-top: 10px;
        width: 70px;
    }

    .footer-height{
        height: 25vh;
    }

    .mapping{
        height: 250px;
        width: 250px;
    }
}
