*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    overflow-y: hidden;
}

:root{
    --color-body:##31363F;
    --color-btn-lgn:#393E46;
    --color-link:#eeeeee;
}

.login_side{
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f1faff;
}

.login_side h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;

}

.nameInput{
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding: 25px 10px;
    border-radius: 8px;
}

#errorName{
    margin: 0;
    color: red;
}

#errorPassword{
    margin: 0;
    color: red;
}

.name{
    font-size: 20px;
}

.password {
    font-size: 20px;
}

.passwordInput{
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding: 25px 10px;
    border-radius: 8px;
}

.navbar{
    background-color: var(--color-body);
    font-family: "Monstserrat", sans-serif;
}

.smaller-logo{
    width: 180px;
}

.full-height{
    height: 100vh;
}

.smaller-picture{
    width: 600px;
    border-radius: 5px;
    transition: 0.5s;
}

.smaller-picture:hover{
    transform: scale(1.2);
}

.margin_sikit{
    margin-left: 60px;
    margin-right: 60px;
}

.login{
    margin-right: 60px;
    margin-left: 15px;
    background: #393E46;
    height: 40px;
    color: var(--color-link);
    width: 100px;
    padding: 10px 25px;
    border-radius: 7px;
    border: 1px solid #EEEEEE;
    transition: all 0.5s;
}

.putih{
    color: var(--color-link);
    font-family: "Monstserrat", sans-serif;
}


.btn1:hover{
    color: var(--color-btn-lgn);
}

.login:hover{
    border: 1px solid #393E46;
    background: #EEEEEE;
    color: var(--color-btn-lgn);
}

.nav-item{
    font-size: 20px;
    height: 40px;
    width: 100px;
}

.lgn_btn{
    text-decoration: none;
    margin-right: 60px;
    color: #EEEEEE;
    background: #393E46;
    padding: 10px 25px;
    height: 50px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #EEEEEE;
    border-radius: 7px;
    transition: all 0.5s;
}

.lgn_btn:hover{
    color: #393E46;
    background: #EEEEEE;
    border: 1px solid #393E46;
}

.menjauh-sikit{
    margin-left: 50px;
}


.submit-btn{
    width: 300px;
    height: 40px;
    padding: 25px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-btn-lgn);
    border-radius: 8px;
    color: var(--color-link);
    border-color: var(--color-link);
    transition: all 0.5s;
}

.submit-btn:hover{
    background: var(--color-link);
    color: var(--color-btn-lgn);
    border-color: var(--color-link);
}

.image_side{
    height: 100vh;
    width: 50%;
}

.flexie{
    display: flex;
}

.background-image{
    background-image:url(/landingPage/img/img3.jpeg) ;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0.4;
    position: absolute;
    z-index: -1111111111;
    width: 49.8%;
}

.hero{
    height: 100vh;
}

.hero h1{    
    font-family: 'Lora', serif;
    font-size: 90px;
    text-align: right;
    margin-right: 20px;
    color: var(--color-btn-lgn);
    font-weight: lighter;
}

.row{
    --bs-gutter-x: 0;
}



@media only screen and (max-width:1100px){

    .image_side{
        display: none;
    }


    
}